/* body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lightgray;
}

#game-board{
    position: absolute;
    margin: 0;
    background-color: black;
    width: 95vmin;
    height: 95vmin;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

.box{
    position: relative;
    background-color: lightgray;
    border: 1vmin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25vmin;
}
 */
