:root{
  --num-rows: 50;
  --num-cols: 50;
}
html, body{
  padding:0;
  margin: 0;
}

.App{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.gol{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.controls{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.grid{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 20px);
  grid-template-rows: repeat(var(--num-rows), 20px);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.cell{
  width: 20px;
  height: 20px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}